<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.enggmart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/em"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity android:name=".ProductDescription" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".SignInSignUp" />
        <activity android:name=".Signup" />
        <activity android:name=".VarificationCode" />
        <activity android:name=".SignIn" />
        <activity android:name=".Home_Page" />
        <activity android:name=".Notification" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".Semester" />
        <activity android:name=".Novel" />
        <activity android:name=".WritePost" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SkillDevlopment" />
        <activity android:name=".SecondActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".AdminPannel" />
        <activity android:name=".CurrentAffairs" />
        <activity android:name=".Pdf1" />
        <activity android:name=".AdminConsole" />
        <activity android:name=".Seveneges" />
        <activity android:name=".Artofps" />
        <activity android:name=".PaymentPage"></activity>
        <activity android:name=".Journalism" />
        <activity android:name=".Taleoftwocities" />
        <activity android:name=".HelpCenter"></activity>
    </application>

</manifest>