<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enggmartservices.enggmart">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utility.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/em"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!-- firebase Messages -->
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- connectivity checker -->
        <receiver
            android:name=".utility.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- all Activities -->
        <activity
            android:name=".activities.ProductDescription"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdminPannel"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CurrentAffairsActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AdminConsole"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentPage"
            android:parentActivityName=".activities.ProductDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HelpCenter"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UploadNovelAffaires"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignInSignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Notification"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UsersActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChatActivity"
            android:parentActivityName=".activities.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewsPaperActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NovelsActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WritePost"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SkillDevlopment"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PDFViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.MyOrdersActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderDescriptionActivity"
            android:parentActivityName=".activities.MyOrdersActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>